   @media (max-width: 1024px) and (min-width: 768px) {
     .project-diagonal-visual {
       width: 80%;
       height: 80%;
     }

     .about-me-img {
       max-width: 75%;
     }


   }

   @media (max-width: 768px) and (min-width: 425px) {
     .educational-entry-first {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }
   }

   @media (max-width: 425px) and (min-width: 375px) {
     .connect-button-phone-div {
       display: flex;
     }

     #phone-link {
       display: flex;
     }

     .phone-port-name {
       display: inline;
     }

     .nav-button {
       display: block;
     }

     .work-experience-logo {
       display: none;
     }

     .work-experience-entry {
       padding-right: 0;
     }

     .educational-entry-second {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .tech-stack-card {
       padding-left: 0;
       padding-right: 0;
     }

     .educational-entry-first {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .about-me-img {
       max-width: 90%;
     }

     .project-diagonal-visual {
       width: 80%;
       height: 80%;
     }

     .pc-name {
       display: none;
       /* Hide PC name on mobile */
     }

     .phone-name {
       display: block;
       /* Show phone name on mobile */
     }

     #pc-link {
       display: none;
     }

     #pc-nav {
       display: none;
     }


     .main-headline {
       min-height: 120px;
       text-align: center;
       /* Keeps the text centered */
       margin-bottom: 1.5rem;
       padding-top: 1rem;
     }

     .smart-text {
       font-size: 0.75rem;
     }

     #legend-phone {
       display: block;
     }

     #legend-pc {
       display: none;
     }
   }

   @media(max-width:375px)and (min-width: 320px) {
     .connect-button-phone-div {
       display: flex;
     }

     #phone-link {
       display: flex;
     }

     .phone-port-name {
       display: inline;
     }

     .nav-button {
       display: block;
     }

     .work-experience-logo {
       display: none;
     }

     .work-experience-entry {
       padding-right: 0;
     }

     .educational-entry-second {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .tech-stack-card {
       padding-left: 0;
       padding-right: 0;
     }

     .educational-entry-first {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .about-me-img {
       max-width: 90%;
     }

     .project-diagonal-visual {
       width: 80%;
       height: 80%;
     }

     .pc-name {
       display: none;
       /* Hide PC name on mobile */
     }

     .phone-name {
       display: block;
       /* Show phone name on mobile */
     }

     #pc-link {
       display: none;
     }

     #pc-nav {
       display: none;
     }



     .window-card {
       max-width: 100%;
     }

     .main-headline {
       min-height: 120px;
     }

     #legend-phone {
       display: block;
     }

     #legend-pc {
       display: none;
     }
   }

   @media (max-width:320px) {
     .connect-button-phone-div {
       display: flex;
     }

     .phone-port-name {
       display: inline;
     }

     .nav-button {
       display: inline-block;
     }

     .work-experience-entry {
       padding-right: 0;
     }

     .work-experience-logo {
       display: none;
     }

     .educational-entry-second {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .tech-stack-card {
       padding-left: 0;
       padding-right: 0;
     }

     .educational-entry-first {
       padding-bottom: 0.5rem;
       --tw-border-opacity: 1;
       border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
       border-bottom-width: 2px;
     }

     .about-me-img {
       max-width: 90%;
     }

     .project-diagonal-visual {
       width: 80%;
       height: 80%;
     }

     .pc-name {
       display: none;
       /* Hide PC name on mobile */
     }

     .phone-name {
       display: block;
       /* Show phone name on mobile */
     }

     #pc-link {
       display: none;
     }

     #pc-nav {
       display: none;
     }

     .portfolio {
       padding: 0rem;
       margin: 0rem;
     }

     .window-card {
       max-width: 120%;
     }

     .main-headline {
       min-height: 120px;
     }

     .smart-text {
       font-size: 0.70rem
     }

     #legend-phone {
       display: block;
     }

     #legend-pc {
       display: none;
     }

     .email-text-part {
       font-size: 0.8rem;
       padding: 0;
     }

     .email-text-part-secondary {
       font-size: 0.8rem;
     }

     #phone-link {
       display: flex;
     }

   }